<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head th:replace="~{management/_fragments::head('博客发布')}">
		<meta charset="UTF-8"/>
		<title>发布</title>
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<link rel="stylesheet" href="../../static/css/me.css">
		<link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" />
	</head>
	<body>
		<!--
        	作者：PENG
        	时间：2020-02-01
        	描述：导航
        -->
		<nav class="ui inverted segment m-padded-tb-mini m-shadow-small top attached" th:replace="~{management/_fragments::navigation('blog')}">
			<div class="ui container">
				<div class="ui inverted stackable secondary menu">
					<h2 class="ui teal header item">博客管理</h2>
					<a href="#" class="active item m-mobile-hidden item-toggle"><i class="home icon"></i>博客</a>
					<a href="#" class="item m-mobile-hidden item-toggle"><i class="idea icon"></i>分类</a>
					<a href="#" class="item m-mobile-hidden item-toggle"><i class="tags icon"></i>标签</a>
					
					<div class="right menu m-mobile-hidden item-toggle">
						<div class="ui dropdown item">
							<div class="text">
								<img src="../../static/images/headerImg.jpeg" alt="" class="ui small circular image"/>
								PENG
							</div>
							<i class="dropdown icon"></i>
							<!-- .ui.dropdown .menu的display为none 。
								也就是说dropdown下的menu不显示
							-->
							<div class="ui menu">
								<a href="#" class="item">注销</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="ui icon button black m-right-top m-pc-hidden menu-toggle menu">
			  <i class="sidebar icon"></i>
			</div>			
		</nav>
		<!--
        	作者：PENG
        	时间：2020-02-03
        	描述：二级导航
        	导航用menu做！
        -->
	    <div class="ui bottom attached pointing menu" th:replace="~{management/_fragments::secondaryNavigation('publish','blog')}">
    		<div class="ui container">
    			<!-- menu里面嵌套menu。但是，可以浮动，right menu -->
    			<div class="ui right menu m-border-zero">
 	        		<a href="#" class="active teal item">发布</a>
	        		<a href="#" class="item">列表</a>   				
    			</div>
	        </div>
    	</div>
		
		<!--
        	作者：PENG
        	时间：2020-02-01
        	描述：主体
        -->
        <!--
        	 主体部分必须往中间缩一点才好看，不应该和导航及页脚同宽！
        	解决方案：自己定义自己的container，自己设置max-width（变下点），切记设置margin:auto;居中对齐。
        -->
        <div class="m-padded-tb-large m-container">
        	
        	<!-- 用了框架的container之后，它会针对不同终端（不同屏幕大小）选择最好的显示效果 -->
        	<div class="ui container">
        		
        		<!--
                	作者：PENG
                	时间：2020-02-03
                	描述：header
                -->
        		<div class="ui top attached segment padded">
        			<h3 class="ui teal header">博客发布</h3>
        		</div>
				<!--
                	作者：PENG
                	时间：2020-02-03
                	描述：form
                -->
                <div class="ui segment bottom attached">
					<div th:replace="~{management/_fragments::message(1)}"></div>
                	<form id="publishForm" action="#" th:action="@{/manage/blog/add}" th:object="${blog}" method="post" class="ui form">
						<input type="hidden" name="publish_toggle">
						<input type="hidden" name="id" th:value="*{id}">
						<div class="field">
							<div class="ui left labeled input">
								<!-- 加selection更好看点。但是要加compact缩放成自己必要占用的宽度 -->
								<!-- 这是个label -->
							  	<div class="ui teal basic selection dropdown compact label">
							  		<input type="hidden" name="original" th:field="*{original}">
									<div class="default text">来源</div>
							    	<i class="dropdown icon"></i>
							    	<div class="menu">
										<!--/*/
										<div class="item" th:each="original:${originals}" th:attr="data-value=${original.ordinal()}" th:text="${original.description}">原创</div>
										/*/-->
										<!--/*-->
							      		<div class="item" data-value="0">原创</div>
							      		<div class="item" data-value="1">转载</div>
							      		<div class="item" data-value="2">翻译</div>
										<!--*/-->
							    	</div>
							  	</div>
							  	<!--这是input-->
							  	<input type="text" placeholder="标题" th:field="*{title}" name="title" maxlength="100">
							</div>                			
                		</div>
                		
                		<div class="field">
                			<!-- 使用z-index使编辑器位于z轴最上方 -->
				            <div id="editormd" style="z-index: 1;">
                				<textarea style="display:none;" name="content" th:field="*{content}" placeholder="博客内容">
<!--/*-->
[TOC]
#### Disabled options

- TeX (Based on KaTeX);
- Emoji;
- Task lists;
- HTML tags decode;
- Flowchart and Sequence Diagram;

#### Editor.md directory

    editor.md/
            lib/
            css/
            scss/
            tests/
            fonts/
            images/
            plugins/
            examples/
            languages/     
            editormd.js
            ...

```html
<!--*/-->
</textarea>
                			</div>
                		</div>
                		
                		<!-- 把这行分成两部分区域 -->
                		<div class="ui two fields">
                			<div class="field">
                				<div class="ui left labeled action input">
                					<div class="ui label teal basic">
                						分类
                					</div>
								  	<div class="ui selection action search dropdown fluid">
								  		<input type="hidden" name="type.id" th:field="*{type.id}">
								    	<div class="default text">分类</div>
								    	<i class="dropdown icon"></i>
								    	<div class="menu">
											<!--/*/
											<div class="item" th:each="type:${types}" th:attr="data-value=${type.id}" th:text="${type.name}">JavaIO</div>
											/*/-->
											<!--/*-->
								      		<div class="item" data-value="0">JavaIO</div>
								      		<div class="item" data-value="1">SpringBoot</div>
								      		<div class="item" data-value="2">SpringMVC</div>
											<!--*/-->
								    	</div>
								  	</div>
                				</div>
                			</div>
                			
                			<div class="field">
                				<div class="ui left labeled action input">
                					<div class="ui label teal basic">
                						标签
                					</div>
                					<!-- search必须和multiple一起 -->
								  	<div class="ui fluid selection action multiple search dropdown">
								  		<input type="hidden" name="tagIds" th:field="*{tagIds}">
								    	<div class="default text">标签</div>
								    	<i class="dropdown icon"></i>
								    	<div class="ui menu">
											<!--/*/
											<div class="item" th:each="tag:${tags}" th:attr="data-value=${tag.id}" th:text="${tag.name}">Spring</div>
											/*/-->
											<!--/*-->
								      		<div class="item" data-value="0">Spring</div>
								      		<div class="item" data-value="1">Java</div>
								      		<div class="item" data-value="2">Python</div>
											<!--*/-->
								    	</div>
								  	</div>
                				</div>                				
                			</div>
                		</div>
                		
                		<div class="field">
                			<div class="ui left labeled input">
                				<div class="ui label basic teal">
                					首图
                				</div>
                				<input type="text" name="picture_addr" th:field="*{picture_addr}" placeholder="首图引用地址"/>
                			</div>
                		</div>

                		<div class="field">
                			<div class="ui input">
								<textarea name="description" th:field="*{description}" placeholder="博客描述" maxlength="200"></textarea>
                			</div>
                		</div>

                		<div class="fields">
                			<div class="field">
							    <div class="ui checkbox">
							      	<input type="checkbox" id="recommend" name="recommend_toggle" th:checked="*{recommend_toggle}">
							      	<label for="recommend">推荐</label>
							    </div>                				
                			</div>
                			<div class="field">
							    <div class="ui checkbox">
							      	<input type="checkbox" id="shareInfo" name="share_toggle" th:checked="*{share_toggle}">
							      	<label for="shareInfo">转载声明</label>
							    </div>                				
                			</div>
                			<div class="field">
							    <div class="ui checkbox">
							      	<input type="checkbox" id="comment" name="comment_toggle" th:checked="*{comment_toggle}">
							      	<label for="comment">评论</label>
							    </div>                				
                			</div>
                			<div class="field">
							    <div class="ui checkbox">
							      	<input type="checkbox" id="appreciation" name="appreciate_toggle" th:checked="*{appreciate_toggle}">
							      	<label for="appreciation">赞赏</label>
							    </div>                				
                			</div>                 			
                		</div>
                		
                		<!-- 
                			如果container的父元素width不是浏览器宽度，就不会水平居中内容。
                			但是container会根据浏览器大小调整自己的max-width！！！
                		-->
                			<!-- 默认是提交按钮。必须加type -->
                			<!-- 最好是使用一个容器把三个按钮包装起来 -->
                			<div class="ui container right aligned">
                				<button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                				<button type="button" id="saveBtn" class="ui secondary button">保存</button>
                				<button type="button" id="publishBtn" class="ui teal button">发布</button>
                			</div>
                			
                			<!--
                            	作者：offline
                            	时间：2020-02-04
                            	描述：错误提示
                            -->
                            <div class="ui error message"></div>
                	</form>
                </div>
        	</div>
        </div>
        
        
       	<br />
       	<br />
        <!--
        	作者：PENG
        	时间：2020-02-01
        	描述：页脚
        -->
        <footer class="ui inverted vertical segment m-padded-tb-huge" th:replace="~{management/_fragments::footer}">
        	<!-- <div class="ui center aligned container" style="border: 1px white solid;"> -->
        	<div class="ui center aligned container">
        		<div class="ui stackable inverted divided grid">
        			<div class="three wide column">
        				<div class="ui inverted link list">
        					<div class="item">
        						<img src="../../static/images/wechat.jpg" alt="图片不见了" class="ui rounded image" style="width: 120px;" />
        					</div>
        				</div>
        			</div>
        			<div class="three wide column">
        				<h4 class="ui inverted header m-opacity-mini m-text-spaced m-text-normal">最新博客</h4>
        				<div class="ui inverted link list">
        					<a href="#" class="item">用户故事(User Story)</a>
        					<a href="#" class="item">用户故事(User Story)</a>
        					<a href="#" class="item">用户故事(User Story)</a>
        					<a href="#" class="item">用户故事(User Story)</a>
        				</div>
        			</div>
        			<div class="three wide column">
        				<h4 class="ui inverted header m-opacity-mini m-text-spaced m-text-normal">联系我</h4>
        				<div class="ui inverted link list">
        					<a href="#" class="item">Emial: 2318511681@qq.com</a>
        					<a href="#" class="item">QQ: 2318511681</a>
        				</div>
        			</div>
        			<div class="seven wide column">
        				<h4 class="ui inverted header m-opacity-mini m-text-spaced m-text-normal">作者简介</h4>
        				<p class="m-opacity-mini m-text-spaced m-text-thin">大家数据的赛季的怕死就打死的骄傲喷水电机安排是件大事拍大师庞大</p>
        			</div>
        		</div>
        		<div class="ui inverted section divider"></div>
        		<p class="m-opacity-small m-text-spaced m-text-thin">Copyright 2020-20XX by PENG</p>
        	</div>
        </footer>
		<!-- 作为辅助工具的，取得表达式的值 -->
		<a id="editorUtils" href="../../static/lib/editormd/lib/" th:href="@{/lib/editormd/lib/}" class="m-hidden"></a>
        <!-- Jquery必须声明在前 -->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
 		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
 		<script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
		<script type="text/javascript" th:inline="javascript">
			var editormd;
			
			$(function(){
				$(".menu-toggle").click(function(){
					//控制m-mobile-hidden的有无。
					$(".item-toggle").toggleClass("m-mobile-hidden");
				});
				
				$(".ui.dropdown").dropdown({
					on:'hover'
				});
				
				$(".ui.form").form({
					fields:{
						original:{
							identifier  : 'original',
							rules:[{
								type:'empty',
								prompt : '请选择文章来源'
							}]
						},
						title:{
							identifier  : 'title',
							rules:[{
								type:'empty',
								 prompt : '请输入标题'
							}]
						},						
						type:{
							identifier  : 'type.id',
							rules:[{
								type:'empty',
								prompt : '请选择分类'
							}]
						},
						pictureAddr:{
							identifier:'picture_addr',
							rules:[{
								type:'empty',
								prompt:'请输入图片引用地址'
							}]
						},
						content:{
							identifier:'content',
							rules:[{
								type:'empty',
								prompt:'请输入博客内容'
							}]
						},
						description:{
							identifier:'description',
							rules:[{
								type:'empty',
								prompt:'请输入博客描述'
							}]
						}

					}
				});
				
				//editormd初始化
                editormd = editormd("editormd", {
                    width   : "100%",
                    height  : 640,
                    syncScrolling : "single",
					//../../static/lib/editormd/lib/
                    // path    : /*[[@{/lib/editormd/lib/}]]*/ "../../static/lib/editormd/lib/"
					path: $('#editorUtils').attr('href')
                });

                //给保存和发布按钮设置点击事件
				$('#saveBtn').click(function () {
					$('input[name="publish_toggle"]').val("false");
					$('#publishForm').submit();
				});
				$('#publishBtn').click(function () {
					$('input[name="publish_toggle"]').val("true");
					$('#publishForm').submit();
				});

				//关闭消息
				$('.close.icon').click(function () {
					$(this).parent().hide();
				});
			});
		</script>
	</body>
</html>
